<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--由于单独对xml文件和java接口位置进行指定（在启动类中指定接口，yml中指定xml），不需要创建com.gxz.mapper三层-->
<mapper namespace="com.gxz.mapper.UserMapper">

    <select id="selectLoginStatus" resultType="User">
        select * from users where username=#{username}
    </select>

    <update id="updateLoginStatus">
        update users set enabled=#{enabled}, counts=#{counts}, lasttime=#{lasttime} where username=#{username}
    </update>
</mapper>