body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    background-image: url('/pic/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: #100f0f;
}

p {
    color: #463f3f;
}
